## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
*.userprefs
packages/
*.nupkg

## VS
.vs/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## JetBrains Rider
.idea/
*.sln.iml

## macOS
.DS_Store

## dotnet
project.lock.json
project.fragment.lock.json
artifacts/

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Visual Studio
.vs/
*.rsuser
Inventario_banco_api/appsettings.Development.json
